{{ partial "header.html" . }}
<section id="{{ .Title }}" class="single">
<h1>{{ .Title }}</h1>
{{ partial "links" .Params.links }}
{{ if .Params.youtube }}
{{ partial "youtube" .Params.youtube }}
{{ end }}
{{ if .Params.image }}
<div class="center">
{{ partial "image" (dict
    "Destination" .Params.image
    "Text" .Title
    "Title" .Title
)}}
</div>
{{ end }}
{{ if .Params.video }}
<div class="center">
{{ partial "video" (dict
    "Destination" .Params.video
)}}
</div>
{{ end }}
{{ .Content }}
</section>
{{ partial "footer.html" . }}
