</main>
<footer>
    <ul>
        <li><a href="https://www.instagram.com/yumi_jaleley/" target="_blank">Instagram</a></li>
        <li><a href="https://www.artstation.com/yumi_draws_for_you" target="_blank">ArtStation</a></li>
        <li><a href="https://www.youtube.com/@sofiasorace9467">YouTube</a></li>
    </ul>
    <ul>
        <li><a href="/bio">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <span class="copyright">Copyright &copy; {{ now.Year }} Sofia Sorace. All rights reserved</span>
</footer>

<div id="zoomed-in-display" class="hidden" onclick="unzoom()">
    <img src="#" />
    <video onclick="unzoom()" autoplay muted loop playsinline>
        <source src="#">
        Your browser does not support the video tag.
    </video>
</div>

</body>

<script>
    const zoomedDiv = document.getElementById('zoomed-in-display')
    const zoomedImage = zoomedDiv.getElementsByTagName('img')[0]
    const zoomedVideo = zoomedDiv.getElementsByTagName('video')[0]
    const zoomedVideoSrc = zoomedVideo.getElementsByTagName('source')[0]
    function zoom(id) {
        if(id.startsWith('vid-')) {
            zoomedImage.classList.add('hidden')
            const videoSrc = document.getElementById(id)
            zoomedVideoSrc.src = videoSrc.src
            zoomedVideo.classList.remove('hidden')
            zoomedVideo.load()
        } else {
            zoomedVideo.classList.add('hidden')
            const image = document.getElementById(id)
            zoomedImage.src = image.src
            zoomedImage.classList.remove('hidden')
        }
        zoomedDiv.classList.remove('hidden')
    }
    function unzoom() {
        zoomedDiv.classList.add('hidden')
    }
</script>

</html>
