<div class="item-card">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <a class="see-more" href="{{ .RelPermalink }}">Click to see more</a>
    {{ if .Params.youtube }}
    {{ partial "youtube" .Params.youtube }}
    {{ end }}
    {{ if .Params.image }}
    {{ partial "image" (dict
        "Destination" .Params.image
        "Text" .Title
        "Title" .Title
    )}}
    {{ end }}
    {{ if .Params.video }}
    {{ partial "video" (dict
        "Destination" .Params.video
    )}}
    {{ end }}
    <div class="content">
        <p>
            {{ .Summary }}
            <a class="see-more" href="{{ .RelPermalink }}">See More</a>
        </p>
        {{ partial "links" .Params.links }}
        {{ partial "tags" .Params.tags }}
    </div>
</div>